<div class="intro">
  <div class="container" id="welcome">

    <div class="container">

      <br /><br />

      <h3>Submit a Request</h3>
      <p>Please fill out all fields</p>
      <div class="form-horizontal form-group form-group-lg row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2">
          <input type="text" class="form-control" placeholder="First Name" name="firstName" value={{firstName}} oninput={{action (mut firstName) value="target.value"}}>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
          <input type="text" class="form-control" placeholder="Last Name" name="lastName" value={{lastName}} oninput={{action (mut lastName) value="target.value"}}>
        </div>
      </div>

      <div class="form-horizontal form-group form-group-lg row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-2 col-sm-4 col-md-4 col-md-offset-2">
          <input type="text" class="form-control" placeholder="Domain Name" name="domain" value={{domainName}} oninput={{action (mut domainName) value="target.value"}}>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
          <input type="text" class="form-control" placeholder="Host Name" name="hostName" value={{hostName}} oninput={{action (mut hostName) value="target.value"}}>
        </div>
      </div>

      <div class="form-horizontal form-group form-group-lg row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-2 col-sm-4 col-md-4 col-md-offset-2">
          <input type="phone" class="form-control" placeholder="Phone number" name="phone" value={{phoneNumber}} oninput={{action (mut phoneNumber) value="target.value"}}>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
          <input type="email" class="form-control" placeholder="Your Email" name="Email" value={{emailAddress}} oninput={{action (mut emailAddress) value="target.value"}}>
        </div>
      </div>

      <div class="form-horizontal form-group form-group-lg row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
          <textarea class="form-control" placeholder="Description (At least 5 characters.)" value={{message}} rows="7"
            oninput={{action (mut message) value="target.value"}}></textarea>
        </div>
      </div>
      <div class="form-horizontal form-group form-group-lg row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-2 col-md-5 col-md-offset-2">
          <select id="selectbasic" name="selectbasic" class="form-control">
            <option value="1">Landing Page</option>
            <option value="2">Website</option>
          </select>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-2 col-md-3">
          <button class="btn btn-primary btn-lg btn-block" disabled={{isDisabled}} {{action 'send' model}}>Send</button>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-2 col-md-offset-2">
        {{g-recaptcha onSuccess=(action "onCaptchaResolved")}}
      </div>

      {{#if responseMessage}}
      <div class="col-xs-10 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 alert alert-success">
        {{responseMessage}}
      </div>
      {{/if}}

      <br /><br />
    </div>
  </div>
</div>